NUXT_SESSION_PASSWORD=

# JWT sign key
NUXT_JWT_SIGN_KEY=

# media storage config
NUXT_MEDIA_STORE_DIR=

# database config
NUXT_DB_HOST=
NUXT_DB_PORT=
NUXT_DB_USER=
NUXT_DB_PASSWORD=
NUXT_DB_DATABASE=
