# database config
NUXT_DB_HOST=
NUXT_DB_USER=
NUXT_DB_PASSWORD=
NUXT_DB_DATABASE=

# JWT sign key
NUXT_JWT_SIGN_KEY=

# media storage config
NUXT_IMAGE_STORE_DIR=
NUXT_IMAGE_PUBLIC_PATH=

# Can be run locally by using the media APIs.
# NUXT_IMAGE_PUBLIC_PATH='/api/static/media?type=image&name='
